<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Attendance</title>
  </head>
  <body>
   
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">{{exam}}</h4>
  
</div>


<table class="table">
  <thead class="thead-light">
    <tr>
      {% comment %} <th scope="col"></th> {% endcomment %}
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
      <th scope="col">Division</th>
      <th scope="col">Year</th>
      <th scope="col">Subject</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>

  {% for tab in table %}
    <tr>
      {% comment %} <th scope="row"></th> {% endcomment %}
      <td>{{tab.f_name}}</td>
      <td>{{tab.l_name}}</td>
      <td>{{tab.username}}</td>
      <td>{{tab.division}}</td>
      <td>{{tab.year}}</td>
      <td>{{tab.subject}}</td>
      <td>{{tab.date}}</td>
      <td>{{tab.time}}</td>
      <td>{{tab.attendance}}</td>
    </tr>
  {% endfor %}
    
  </tbody>
</table>




<div class="alert alert-secondary" role="alert">
{% if total == 0 %}
 No Lectures were created or students are still joining. please refresh after sometime.
{% else %}
 Total Attendance for Lecture :{{total}}
 {% endif %}
</div>


<form action="/teachers_profile"   id="form1">
<button type="submit" class="btn btn-warning">Go Back</button>
</form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>