{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">First Year</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"> </p>
    </div>

    <a href = " /lectures/a/1">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download1.jpg' %}" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">First Year Division A</h2>
          <p class="leading-relaxed text-base"> </p>
        </div> </a>
      </div>
      <a href = " /lectures/b/1">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download1.jpg' %}" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">First Year Division B</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/c/1">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download1.jpg' %}" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">First Year Division C</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/d/1">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download1.jpg' %}" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">First Year Division D</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
    </div>
  </div>
</section>




<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Second Year</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"> </p>
    </div>

    <a href = " /lectures/a/2">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
         <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download2.jpg' %}" alt="content"> 
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Second Year Division A</h2>
          <p class="leading-relaxed text-base"> </p>
        </div> </a>
      </div>
      <a href = " /lectures/b/2">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download2.jpg' %}" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Second Year Division B</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/c/2">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
         <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download2.jpg' %}" alt="content"> 
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Second Year Division C</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/d/2">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
         <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download2.jpg' %}" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Second Year Division D</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
    </div>
  </div>
</section>



<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Third Year</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"> </p>
    </div>

    <a href = " /lectures/a/3">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download3.jpg' %}" alt="content">  
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Third Year Division A</h2>
          <p class="leading-relaxed text-base"> </p>
        </div> </a>
      </div>
      <a href = " /lectures/b/3">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download3.jpg' %}" alt="content">  
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Third Year Division B</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/c/3">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download3.jpg' %}" alt="content">  
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Third Year Division C</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/d/3">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download3.jpg' %}" alt="content"> 
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Third Year Division D</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
    </div>
  </div>
</section>




<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Forth Year</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"> </p>
    </div>

    <a href = " /lectures/a/3">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download4.jpg' %}" alt="content">  
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Forth Year Division A</h2>
          <p class="leading-relaxed text-base"> </p>
        </div> </a>
      </div>
      <a href = " /lectures/b/4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download4.jpg' %}" alt="content">  
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Forth Year Division B</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/c/4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download4.jpg' %}" alt="content">  
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Forth Year Division C</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
      <a href = " /lectures/d/4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static '/download4.jpg' %}" alt="content"> 
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Classroom</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Forth Year Division D</h2>
          <p class="leading-relaxed text-base"></p>
        </div></a>
      </div>
    </div>
  </div>
</section>




{% endblock content %} 