{% extends 'base.html' %}

{% block content %}



<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">Lectures you create appear here.Unless you Unpublish Lectures they would be available in Classrooms.</h2>
    <div class="md:w-3/5 md:pl-6">
      <p class="leading-relaxed text-base"> Don't forget to Unpublish the lecture after teaching is over. To Unpublish a Lecture check the small circle at bottom of every Lecture and click Unpublish button.</p> 
      <p>NOTE : At a time only one lecture can be Unpublished </p>

      <div class="flex md:mt-4 mt-6">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded" type="submit" form="form1" value="Submit" >Unpublish</button>
        {% comment %} <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a> {% endcomment %}
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Hi, {{user.username}} </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> You can attend Lecture by clicking of Lectures too! And attendance wont record it. NOTE : At a time only one lecture can be Unpublish </p>
    </div>
      
    <div class="flex flex-wrap -m-2">
     {% for tab in table %}
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
      
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
          {% comment %} <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84"> {% endcomment %}
          <div class="flex-grow">
            <h2 class="text-gray-900 title-font font-medium">Subject : {{tab.subject}} | Division : {{tab.division}} | Year : {{tab.year}} | status : {{tab.status}} </h2> <br>
            <a href =" /{{tab.link}}" target = "_blank">
            <button class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded"  value="Submit" > JOIN </button>
            </a><br><br>
    
            <form action="/attendanceListid/{{tab.id}}/" id = "" method = "POST">
              {% csrf_token %}
            <button class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded"> check Attendance </button>
            </form><br>
            
            <form id = "form1" method = "POST">
            {% csrf_token %}
            <p class="text-gray-500">{{tab.date}} | {{tab.time}}</p>
             <input type="radio" id="id" name="id" value="{{tab.id}}">
             <label for="vehicle1">Unpublish this Lecture ?</label><br>
             </form>
             
          </div>
        </div>
      </div>
      {% endfor %}
    </div> </form>
  </div>
</section>


{% endblock content %} 