{% extends 'base.html' %}
{% load socialaccount %}



{% block content %}



<section class="text-gray-600 body-font mx-8">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"> Welcome {{user.username}}, Today's Lectures</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
    </div>




    {% for lect in lectures_create %}

     

    <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        
      </div>
      <div class="p-4 lg:w-1/3">
      <a href="{{lecture.link}}" target="_blank">
        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Press here to enter lecture</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Subject:{{lect.subject}}</h1>
          <p class="leading-relaxed mb-3">Time:{{lect.time}}</p>
          <p class="leading-relaxed mb-3">Professor:{{lect.professor}}</p>
        </div></a>
      </div>
    </div>
  </div>
</section>


    
{% endfor %}



{% endblock content %} 